body.home {
    height: 100vh;
    background: #f5f5f5 !important; /* fallback for old browsers */
    font-family: "Muli", sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;  
    color: #353535 !important;
}
