.navbar {
    font-family: 'Muli',Helvetica,Arial,sans-serif;
    background: #f5f5f5;
    width: 100vw;
    height: 60px;
    border: 1px solid #dcdcdf;
    -webkit-app-region: drag;
}

img.avatar {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ededef;
}

.avatar-container {
    position: absolute;
    right: 30px;
    top: 10px;
    display: flex;
}

.avatar-info {
    margin-left: 13px;
    font-family: "Muli", sans-serif;
    margin-top: 11px;
    color: #515261;
    font-weight: bold;
    cursor: default;
}

.settings-btn {
    margin-left: 10px;
    height: 40px;
    color: #515261;
    width: 30px;
    text-align: center
}

.settings-btn:hover {
    color: #50548d;
}

.settings-btn i{
    line-height: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    right: 0px;
    top: 45px;
    width: 200px;
    border-radius: 4px;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdf;
    z-index: 1;
    box-shadow: 1px 2px 5px 0px rgba(81,82,97,0.09);
}

.dropdown-content.open {
    opacity: 1;
}

.dropdown-content a {
    color: #515261;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: default;
}

.dropdown-content a:hover {background-color: #ddd}

.navbar .session-panel {
    margin-left: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    color: #515261;
}

.session-panel .clipboard {
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
}

.session-panel b.sid-title {
    margin-right: 5px;
}

.navbar .nav-modal {
    position: fixed;
    z-index: 99999999;
    width: 200px;
    height: 160px;
    overflow: show;
    margin: auto;
    top: 600px;
    left: 360px;
    bottom: 600px;
    right: 360px;
    overflow: hidden; 
    background-color: rgba(35,35,35,0.5);
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
}
  
.navbar .nav-modal:before {
    content: '';
    display: block;
    position: fixed;
    top: 600px;
    left: 360px;
    width: 200px;
    height: 200px;
}

.nav-modal > h1{
    display: block;
    font-family: "Muli", sans-serif;
    font-size: 1.4em;
    color: #ffffff;
}