@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');

body.login {
    height: 100vh;
    background: #515261 !important;
    font-family: "Muli", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    color: #515261;
    display:flex;
    align-items:center;
    justify-content:center;  
}

body.login .wrapper {
    text-align: center;
    background: #f5f5f5;
    width: 55vw;
    height: 75vh;
    box-shadow: 0px 0px 5px 3px rgba(48,49,58,0.53);
    padding-top: 25vh;
}

body.login .logo-title {
    font-family: 'Kirang Haerang', cursive;
    color: #515261;
    font-size: 4.2em;
    letter-spacing: 4px;
}

body.login .logo-subtitle {
    font-family: 'Kirang Haerang', cursive;
    color: #50548d;
    font-size: 2em;
    margin-top: -1.9em;
}

body.login .login-buttons {
    margin-top: 100px;
}

body.login .button {
    color: #fff;
    background: #515261;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 1px 2px 5px 0px rgba(24,24,24,0.12);
}

body.login .button-logo {
   position: relative;
   top: 6px;
   right: 10px
}

body.login .button:hover {
    background: #38383f;
}